<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>UserRegisterActions</servlet-name>
        <servlet-class>com.cbchain.actions.UserRegisterActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginCheck</servlet-name>
        <servlet-class>com.cbchain.actions.UserLoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUploadAction</servlet-name>
        <servlet-class>com.cbchain.actions.AdminUploadAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDownloadCode</servlet-name>
        <servlet-class>com.cbchain.actions.AdminDownloadCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartBlockChainAction</servlet-name>
        <servlet-class>com.cbchain.actions.StartBlockChainAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegisterActions</servlet-name>
        <url-pattern>/UserRegisterActions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginCheck</servlet-name>
        <url-pattern>/UserLoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUploadAction</servlet-name>
        <url-pattern>/AdminUploadAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDownloadCode</servlet-name>
        <url-pattern>/AdminDownloadCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartBlockChainAction</servlet-name>
        <url-pattern>/StartBlockChainAction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
